/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
body {
  background-color: #FFF;
}

/* line 19, ../sass/screen.scss */
h2 {
  font-size: 1.1em;
  color: #00A8C6;
  margin: 0px 0px 0.5em 0px;
}

/* line 25, ../sass/screen.scss */
ul {
  list-style: none;
  margin: 0px;
}
/* line 29, ../sass/screen.scss */
ul li span {
  width: 15px;
  display: inline-block;
}
/* line 34, ../sass/screen.scss */
ul li.active-false input[type=text], ul li.active-false select {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
}

/* line 43, ../sass/screen.scss */
button.btn-indented {
  margin-left: 18px;
}

/* line 48, ../sass/screen.scss */
input[type="text"] {
  vertical-align: 0px;
}

/* line 53, ../sass/screen.scss */
select {
  vertical-align: 0px;
}

/* line 57, ../sass/screen.scss */
table {
  background-color: #FFF;
  border-top: 1px solid #DDD;
}
/* line 60, ../sass/screen.scss */
table td, table th {
  padding: 12px 10px !important;
  font-size: 1.1em;
}
/* line 63, ../sass/screen.scss */
table td.number, table th.number {
  text-align: right;
}
/* line 66, ../sass/screen.scss */
table td.positive, table th.positive {
  color: green;
}
/* line 69, ../sass/screen.scss */
table td.negative, table th.negative {
  color: red;
}
/* line 73, ../sass/screen.scss */
table th {
  color: #00A8C6;
}

/* line 78, ../sass/screen.scss */
.box {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* line 83, ../sass/screen.scss */
.store {
  margin-top: 40px;
}
/* line 85, ../sass/screen.scss */
.store p {
  color: #999;
}

/* line 90, ../sass/screen.scss */
#top {
  background-color: #8FBE00;
  margin-bottom: 40px;
  padding-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #666;
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}
/* line 97, ../sass/screen.scss */
#top h1 {
  font-size: 4em;
  margin-bottom: 20px;
  margin-top: 50px;
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
/* line 104, ../sass/screen.scss */
#top p {
  font-size: 1.5em;
  color: #F9F2E7;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
