/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

$iconSpritePath: image-url("glyphicons-halflings.png");
$iconWhiteSpritePath: image-url("glyphicons-halflings-white.png");

@import "bootstrap";
@import "bootstrap-responsive";

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

body {
  background-color:#FFF;
}

a {

}

h2 {
  font-size:1.1em;
  color:#00A8C6;
  margin:0px 0px 0.5em 0px;
}

ul {
  list-style:none;
  margin:0px;
  li {
    span {
      width:15px;
      display: inline-block;
    }
    &.active-false {
      input[type=text], select {
        opacity: 0.5;
        -moz-opacity: 0.5;
        filter:alpha(opacity=5);
      }
    }
  }
}

button.btn-indented {
  margin-left:18px;
}

input {
  &[type="text"] {
    vertical-align: 0px;
  }
}

select {
  vertical-align: 0px;
}

table {
  background-color:#FFF;
  border-top:1px solid #DDD;
  td, th {
    padding:12px 10px !important;
    font-size:1.1em;
    &.number {
      text-align:right;
    }
    &.positive {
      color:green;
    }
    &.negative {
      color:red;
    }
  }
  th {
    color:#00A8C6;
  }
}

.box {
  @include border-radius(8px);
  margin-bottom:20px;
}

.store {
  margin-top:40px;
  p {
    color:#999;
  }
}

#top {
  background-color:#8FBE00;
  margin-bottom:40px;
  padding-top:60px;
  padding-bottom:30px;
  border-bottom:1px solid #666;
  @include box-shadow(0px 3px 0px rgba(0,0,0,0.2));
  h1 {
    font-size:4em;
    margin-bottom:20px;
    margin-top:50px;
    color:#FFF;
    @include text-shadow(0px -1px 0px rgba(0,0,0,0.5));
  }
  p {
    font-size:1.5em;
    color:#F9F2E7;
    @include text-shadow(0px -1px 0px rgba(0,0,0,0.5));
  }
}