<section id="section_about" class="span7">
	<h1>Balance Projector</h1>
	<article>
		<h2>Project Scope</h2>
		<p>Our main goal is to create an open source personal financing app, that helps its users to project their financial situation.</p>
	</article>
	<article>
		<h2>Acceptance criteria / High level (long term) goals</h2>
		<p>The app should...</p>
		<ul>
			<li>...work offline and should be able to smart sync, when online</li>
			<li>...run outside the browser as a packaged app (built using <a href="http://yeoman.io/" target="_blank">Yeoman</a>)</li>
			<li>...visualise the user's transactions using charts</li>
			<li>...let the users to group their transactions</li>
		</ul>
	</article>
	<article>
		<h2>Hackathon goals</h2>
		<ul>
			<li>The team wants to connect the existing app prototype to <a href="http://pouchdb.com/" target="_blank">PouchDB</a>, so we don't need to worry about what database solution the browser is using</li>
		</ul>
	</article>
	<article>
		<h2>The team</h2>
		<ul>
			<li><a href="https://github.com/daaain" target="_blank">Daniel Demmel</a></li>
			<li><a href="https://github.com/heartcode" target="_blank">Robert Pataki</a></li>
			<li><a href="https://github.com/kynan" target="_blank">Ferdinand Rathgeber</a></li>
		</ul>
	</article>
	<article>
		<h2>Balance Projector was built using:</h2>
		<a href="https://github.com/SimplyDo/projector" target="_blank">SimplyDo Projector (Angular.js, Twitter Bootstrap)</a>
	</article>

	<div class="launch">
		<a data-ng-href="#/projector" class="btn btn-primary">Launch app!</a>
	</div>
</div>